section {
  margin: 5rem auto;
}

.badge {
  border-radius: 5px;
  background-color: var(--_theme---button-primary--background);
  color: var(--_theme---button-primary--text);
  padding: 5px 15px;
  width: fit-content;
  height: fit-content;
}

.block {
  background-color: var(--_theme---text-faded);
  border-radius: 5px;
}

.card {
  border-radius: 10px;
  border: 1px solid gray;
  padding: 20px;
}

.circle {
  background-color: var(--bg-color);
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 8px;
  border: 1px solid gray;
}

.subdiv {
  margin-top: 40px;
  margin-bottom: 40px;
}

/** Buttons **/
.btn-primary {
    --_btn--bg-color: var(--_theme---button-primary--background);
    --_btn--font-color: var(--_theme---button-primary--text);
    --_btn--border-width: var(--border-width--main);
    --_btn--border-color: var(--_theme---button-primary--border);
    --_btn--border-radius: var(--radius--main);

    /**  Hover State Variables **/
    --_btn--bg-color-hover: var(--_theme---button-primary--background-hover);
    --_btn--font-color-hover: var(--_theme---button-primary--text-hover);
    --_btn--border-color-hover: var(--_theme---button-primary--border-hover);

    background-color: var(--_btn--bg-color);
    color: var(--_btn--font-color);
    border: var(--_btn--border-width) solid var(--_btn--border-color);
    padding: var(--size--0-75rem) var(--size--1-5rem);
    border-radius: var(--_btn--border-radius);
    font-family: var(--_typography---font-family--primary);
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--_btn--bg-color-hover);
      color: var(--_btn--font-color-hover);
      border-color: var(--_btn--border-color-hover);
    }
  }

  .btn-secondary {
    --_btn--bg-color: var(--_theme---button-secondary--background);
    --_btn--font-color: var(--_theme---button-secondary--text);
    --_btn--border-width: var(--border-width--main);
    --_btn--border-color: var(--_theme---button-secondary--border);
    --_btn--border-radius: var(--radius--main);

    /** Hover State Variables **/
    --_btn--bg-color-hover: var(--_theme---button-secondary--background-hover);
    --_btn--font-color-hover: var(--_theme---button-secondary--text-hover);
    --_btn--border-color-hover: var(--_theme---button-secondary--border-hover);

    background-color: var(--_btn--bg-color);
    color: var(--_btn--font-color);
    border: var(--_btn--border-width) solid var(--_btn--border-color);
    padding: var(--size--0-75rem) var(--size--1-5rem);
    border-radius: var(--_btn--border-radius);
    font-family: var(--_typography---font-family--primary);
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--_btn--bg-color-hover);
      color: var(--_btn--font-color-hover);
      border-color: var(--_btn--border-color-hover);
    }
  }