.techstack_wrap {
  grid-column-gap: 1.25rem;
  grid-row-gap: 0rem;
  width: 100%;
  position: relative;
  container-type: inline-size;
}

.techstack_info_gradient {
  display: none;
}

.techstack_heading_wrap {
  align-items: center;
  width: 100%;
  height: 100svh;
  display: flex;
  position: sticky;
  top: 0;
}

.techstack_list_wrap {
  padding-left: var(--column-margin--4);
  padding-bottom: calc(
    (100vh / 2) - ((var(--_typography---font-size--display)) / 2)
  );
}

.techstack_list_item {
  padding-top: var(--_spacing---space--5);
  padding-bottom: var(--_spacing---space--5);
  opacity: 0.1;
  color: var(--color--brand-main);
}

.techstack_list_item.active {
  opacity: 1;
}

@container (width <= 48em) {
  .techstack_heading_wrap {
    z-index: 2;
    flex-flow: column;
    align-items: flex-start;
    height: 100%;
    top: 3rem;
  }
  .techstack_info_gradient {
    z-index: 1;
    background-image: linear-gradient(
      180deg,
      var(--_theme---background) 84%,
      #fff0
    );
    width: 100%;
    height: 12rem;
    display: block;
    position: sticky;
    top: 0;
  }

  .techstack_heading {
    z-index: 2;
    margin-top: var(--size--1rem);
    margin-bottom: var(--size--1rem);
    position: relative;
  }

  .techstack_info_wrap {
    position: relative;
  }

  .techstack_list_wrap {
    padding-bottom: 9vh;
    padding-left: 0;
  }
}
