/* ===============================
     Theme Colors
  =============================== */
:root {
  --color--brand-main: #797dc7;
  --color--brand-dark: #27296d;
  --color--brand-light: #f3f0ff;
  --color--brand-secondary: #ffc3e4;
  --color--dark: black;
  --color--dark-faded: #0003;
  --color--light: #f9f7f3;
  --color--light-faded: #f9f7f333;
  --color--transparent: transparent;
}

/* Base theme */
:root {
  --_theme---border: var(--color--dark-faded);
  --_theme---background: var(--color--light);
  --_theme---text: var(--color--dark);
  --_theme---text-faded: var(--color--dark-faded);
}

/* Dark theme */
.dark {
  --_theme---border: var(--color--light-faded);
  --_theme---background: var(--color--dark);
  --_theme---text: var(--color--light);
  --_theme---text-faded: var(--color--light-faded);
}

/* ===============================
     Screen, Containers & Layout
  =============================== */
:root {
  --site--max-width: min(var(--site--width), 100vw);
  --site--width: 90rem;
  --site--margin: 1rem; /* !! Replace with fluid sizes !! */
  --site--gutter: 1.25rem;
  --site--column-count: 12;
  --site--gutter-total: calc(
    var(--site--gutter) * (var(--site--column-count) - 1)
  );

  --container--main: calc(var(--site--max-width) - var(--site--margin) * 2);
  --container--full: calc(100vw - var(--site--margin) * 2);
  --container--small: calc(
    var(--column-width--plus-gutter) * (var(--site--column-count) - 2) -
      var(--site--gutter)
  );
}

/* ===============================
     Typography
  =============================== */

/* Fonts */
:root {
  --_typography---font--primary-family: var(--font-general-sans);
  --_typography---font--secondary-family: var(--font-cabinet-grotesk);
}

/* Font Weights */
:root {
  --_typography---font--primary-medium: 500;
  --_typography---font--primary-semibold: 600;
  --_typography---font--secondary-bold: 700;
  --_typography---font--secondary-black: 900;
}

/* Line Heights */
:root {
  --_typography---line-height--1: 1;
  --_typography---line-height--1-1: 1.1;
  --_typography---line-height--1-3: 1.3;
  --_typography---line-height--1-5: 1.5;
}

/* Letter Spacing */
:root {
  --_typography---letter-spacing--0em: 0em;
  --_typography---letter-spacing--neg-0-03em: -0.03em;
}

/* Font Sizes */
/* !! Replace with fluid sizes !! */
:root {
  --_typography---font-size--text-small: 0.875rem;
  --_typography---font-size--text-main: 1rem;
  --_typography---font-size--text-large: 1.25rem;
  --_typography---font-size--display: 7rem;
  --_typography---font-size--h1: 5rem;
  --_typography---font-size--h2: 4rem;
  --_typography---font-size--h3: 3rem;
  --_typography---font-size--h4: 2rem;
  --_typography---font-size--h5: 1.5rem;
  --_typography---font-size--h6: 1rem;
}

/* Font Sizes line height */
:root {
  --_typography---line-height--text-small: var(
    --_typography---line-height--1-5
  );
  --_typography---line-height--text-main: var(--_typography---line-height--1-5);
  --_typography---line-height--text-large: var(
    --_typography---line-height--1-3
  );
  --_typography---line-height--display: var(--_typography---line-height--1);
  --_typography---line-height--h1: var(--_typography---line-height--1);
  --_typography---line-height--h2: var(--_typography---line-height--1);
  --_typography---line-height--h3: var(--_typography---line-height--1-1);
  --_typography---line-height--h4: var(--_typography---line-height--1-1);
  --_typography---line-height--h5: var(--_typography---line-height--1-1);
  --_typography---line-height--h6: var(--_typography---line-height--1-1);
}

/* Text Trims (Trim excessive whitespace from font) */
/** https://line-height-trim.webflow.io/ **/
:root {
  --_typography---font--primary-trim-top: 0.34em;
  --_typography---font--primary-trim-bottom: 0.38em;
  --_typography---font--secondary-trim-top: 0.38em;
  --_typography---font--secondary-trim-bottom: 0.3em;
}

/* ===============================
     Spacing Scale
  =============================== */
/* Fluid sizes */
/* !! Replace with fluid sizes !! */
:root {
  --size--0rem: 0rem;
  --size--0-125rem: 0.125rem;
  --size--0-25rem: 0.25rem;
  --size--0-375rem: 0.375rem;
  --size--0-5rem: 0.5rem;
  --size--0-75rem: 0.75rem;
  --size--1rem: 1rem;
  --size--1-25rem: 1.25rem;
  --size--1-5rem: 1.5rem;
  --size--2rem: 2rem;
  --size--2-5rem: 2.5rem;
  --size--3rem: 3rem;
  --size--3-5rem: 3.5rem;
  --size--4rem: 4rem;
  --size--4-5rem: 4.5rem;
  --size--5rem: 5rem;
  --size--5-5rem: 5.5rem;
  --size--6rem: 6rem;
  --size--6-5rem: 6.5rem;
  --size--7rem: 7rem;
  --size--7-5rem: 7.5rem;
  --size--8rem: 8rem;
  --size--8-5rem: 8.5rem;
  --size--9rem: 9rem;
  --size--9-5rem: 9.5rem;
  --size--10rem: 10rem;
  --size--11rem: 11rem;
  --size--12rem: 12rem;
  --size--13rem: 13rem;
  --size--14rem: 14rem;
  --size--15rem: 15rem;
  --size--16rem: 16rem;
}

/* Section Spacing */
/* !! Replace with fluid sizes !! */
:root {
  --_spacing---space--1: 0.5rem;
  --_spacing---space--2: 0.75rem;
  --_spacing---space--3: 1rem;
  --_spacing---space--4: 1.5rem;
  --_spacing---space--5: 2rem;
  --_spacing---space--6: 2.5rem;
  --_spacing---space--7: 3rem;
  --_spacing---space--8: 4rem;
  --_spacing---section-space--none: 0rem;
  --_spacing---section-space--small: 5rem;
  --_spacing---section-space--main: 7rem;
  --_spacing---section-space--large: 10rem;
  --_spacing---section-space--page-top: 14rem;
}

/* ===============================
    Coloumn Widths
  =============================== */
:root {
  --column-width--1: calc(
    (var(--container--main) - var(--site--gutter-total)) /
      var(--site--column-count)
  );
  --column-width--2: calc(
    var(--column-width--plus-gutter) * 2 - var(--site--gutter)
  );
  --column-width--3: calc(
    var(--column-width--plus-gutter) * 3 - var(--site--gutter)
  );
  --column-width--4: calc(
    var(--column-width--plus-gutter) * 4 - var(--site--gutter)
  );
  --column-width--5: calc(
    var(--column-width--plus-gutter) * 5 - var(--site--gutter)
  );
  --column-width--6: calc(
    var(--column-width--plus-gutter) * 6 - var(--site--gutter)
  );
  --column-width--7: calc(
    var(--column-width--plus-gutter) * 7 - var(--site--gutter)
  );
  --column-width--8: calc(
    var(--column-width--plus-gutter) * 8 - var(--site--gutter)
  );
  --column-width--9: calc(
    var(--column-width--plus-gutter) * 9 - var(--site--gutter)
  );
  --column-width--10: calc(
    var(--column-width--plus-gutter) * 10 - var(--site--gutter)
  );
  --column-width--11: calc(
    var(--column-width--plus-gutter) * 11 - var(--site--gutter)
  );
  --column-width--12: calc(
    var(--column-width--plus-gutter) * 12 - var(--site--gutter)
  );
  --column-width--plus-gutter: calc(
    var(--column-width--1) + var(--site--gutter)
  );
  --column-margin--1: calc(var(--column-width--plus-gutter) * 1);
  --column-margin--2: calc(var(--column-width--plus-gutter) * 2);
  --column-margin--3: calc(var(--column-width--plus-gutter) * 3);
  --column-margin--4: calc(var(--column-width--plus-gutter) * 4);
  --column-margin--5: calc(var(--column-width--plus-gutter) * 5);
  --column-margin--6: calc(var(--column-width--plus-gutter) * 6);
  --column-margin--7: calc(var(--column-width--plus-gutter) * 7);
  --column-margin--8: calc(var(--column-width--plus-gutter) * 8);
  --column-margin--9: calc(var(--column-width--plus-gutter) * 9);
  --column-margin--10: calc(var(--column-width--plus-gutter) * 10);
  --column-margin--11: calc(var(--column-width--plus-gutter) * 11);
  --column-margin--12: calc(var(--column-width--plus-gutter) * 12);
}

/* ===============================
     Buttons
  =============================== */
/* Base theme buttons */
:root {
  --_theme---button-primary--background: var(--color--brand-main);
  --_theme---button-primary--border: var(--color--brand-main);
  --_theme---button-primary--text: var(--color--brand-light);
  --_theme---button-primary--background-hover: var(--color--brand-dark);
  --_theme---button-primary--border-hover: var(--color--brand-dark);
  --_theme---button-primary--text-hover: var(--color--brand-light);

  --_theme---button-secondary--background: var(--color--transparent);
  --_theme---button-secondary--border: var(--color--dark-faded);
  --_theme---button-secondary--text: var(--color--brand-dark);
  --_theme---button-secondary--background-hover: var(--color--brand-dark);
  --_theme---button-secondary--border-hover: var(--color--brand-dark);
  --_theme---button-secondary--text-hover: var(--color--brand-light);
}

/* Dark theme buttons */
.dark {
  --_theme---button-primary--background: var(--color--brand-main);
  --_theme---button-primary--border: var(--color--brand-main);
  --_theme---button-primary--text: var(--color--brand-light);
  --_theme---button-primary--background-hover: var(--color--brand-light);
  --_theme---button-primary--border-hover: var(--color--brand-light);
  --_theme---button-primary--text-hover: var(--color--brand-dark);

  --_theme---button-secondary--background: var(--color--transparent);
  --_theme---button-secondary--border: var(--color--light-faded);
  --_theme---button-secondary--text: var(--color--brand-light);
  --_theme---button-secondary--background-hover: var(--color--brand-light);
  --_theme---button-secondary--border-hover: var(--color--brand-light);
  --_theme---button-secondary--text-hover: var(--color--brand-dark);
}

/* ===============================
     Miscellaneous
  =============================== */
:root {
  --radius--small: 0.5rem;
  --radius--main: 1rem;
  --radius--round: 100vw;

  --border-width--main: 0.0625rem;
}
