.hero_wrap {
  min-height: 100svh;
}

.hero_heading_text {
  --_text-style--trim-top: var(--_typography---font--secondary-trim-top);
  --_text-style--trim-bottom: var(--_typography---font--secondary-trim-bottom);

  font-family: var(--_typography---font-family--secondary);
  font-size: var(--_typography---font-size--h1);
  line-height: var(--_typography---line-height--1);
  font-weight: var(--_typography---font-weight--secondary-bold);
  letter-spacing: var(--_typography---letter-spacing--neg-0-03em);
}

.hero_heading_text strong {
  color: var(--color--brand-main);
  font-weight: var(--_typography---font-weight--secondary-black);
}

.hero_image_wrap {
  z-index: 2;
  grid-column-gap: var(--_spacing---space--6);
  grid-row-gap: var(--_spacing---space--6);
  pointer-events: none;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 7%;
  display: flex;
  position: absolute;
  inset: 0%;
}

.hero_image {
  position: relative;
  aspect-ratio: 2.63 / 3.5;
  width: 24%;
  transform: scale(0.5, 0.5);
  opacity: 0;
}

.hero_image img {
  object-fit: cover;
}

.hero_image.is-1 {
  margin-top: -22%;
}

.hero_image.is-1 img {
  object-position: 60% 50%;
}
.hero_image.is-2 img {
  object-position: 70% 50%;
}

.hero_image.is-3 {
  margin-bottom: -22%;
}
