.about_hero_wrap {
  visibility: hidden;
}
.about_hero_layout {
  padding-top: 70vh;
}

.about_hero_heading {
  margin-bottom: var(--_spacing---space--7);
}

.about_hero_info {
  width: var(--column-width--8);
}

.about_hero_text {
  color: var(--color--brand-main);
}

.about_hero_heading_line {
  color: transparent;
  --line-width: 0%;
  position: relative;
  background-color: rgba(121, 125, 199, 0.1);
  background-image: linear-gradient(
    90deg,
    var(--color--brand-main),
    var(--color--brand-main) var(--line-width),
    hsla(0, 0%, 100%, 0) var(--line-width)
  );
  background-clip: text;
}
